/.DS_Store
/.ipynb_checkpoints
/Aliens.py
/Ch6test.py
/Challenges.py
/Install libs
/Json_earthquake.py
/Polling_Input
/all_day.geojson
/hello_world.py
/price_history.csv
/vuelta_startlist_long.xlsx
/~$Tour_de_France_Competition.xlsx